<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.dao.DataManageMapper">
	<resultMap type="com.sy.entity.DataManage" id="DataManageResult">
		<result property="id" column="id" />
		<result property="noloadingTime" column="noloading_time" />
		<result property="workingTime" column="working_time" />
		<result property="noloadingPower" column="noloading_power" />
		<result property="workingPower" column="working_power" />
		<result property="status" column="status" />
		<result property="date" column="date" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
	</resultMap>
	<sql id="selectDataManageVo">
		select  from data_manage
	</sql>

	
	<insert id="insertDataManage" parameterType="com.sy.entity.DataManage" useGeneratedKeys="true" keyProperty="id">
		insert into data_manage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id!=0">id,</if>
			<if test="noloadingTime != null and noloadingTime != ''"> noloading_time,</if>
			<if test="workingTime != null"> working_time,</if>
			<if test="noloadingPower != null">noloading_power,</if>
			<if test="workingPower != null"> working_power,</if>
			<if test="status != null and status !='' ">status,</if>
			<if test="date != null">date,</if>
			<if test="createTime != null ">create_time, </if>
			<if test="updateTime != null ">update_time,</if>
			<if test="remark != null and remark !='' ">remark,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id!=0 ">#{id},</if>
			<if test="noloadingTime != null and noloadingTime != ''">#{noloadingTime},</if>
			<if test="workingTime != null">#{workingTime},</if>
			<if test="noloadingPower != null">#{noloadingPower},</if>
			<if test="workingPower != null">#{workingPower},</if>
			<if test="status != null and status !='' ">#{status},</if>
			<if test="date != null">#{date},</if>
			<if test="createTime != null ">#{createTime}, </if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="remark != null and remark !='' ">#{remark},</if>
		</trim>
	</insert>
	
</mapper>